{% load static %}
<!-- TEMPLATE: HOME -->
<!-- AUTHOR: MIHAI MOROSAN -->
<div class="jomeeli-home-page">
	<div class="jomeeli-home-col">
		<div class="jomeeli-home-row">
			<div class="home-links">
				<!-- FILM -->
				<div class="home-link">
					<a href="/film/">	
						<img class="home-link-img" src="{% static '/IMG/film.png' %}" alt="film">
						<p class="home-link-text">film</p>
					</a>
				</div>
				<!-- PHOTOGRAPHY -->
				<div class="home-link">
					<a href="/photography/">
						<img class="home-link-img" src="{% static '/IMG/photography.png' %}" alt="photography">
						<p class="home-link-text">photography</p>
					</a>
				</div>
				<!-- VISUAL -->
				<div class="home-link">
					<a href="/visual/">	
						<img class="home-link-img" src="{% static '/IMG/visual.png' %}" alt="visual">
						<p class="home-link-text">visual</p>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>