{% load static %}
<!-- TEMPLATE: EVENTS -->
<!-- AUTHOR: MIHAI MOROSAN -->
<div class="jomeeli-events-page">
    <div class="heading">
        <p>
            <span class="white">events photography</span>
        </p>
    </div>
    <div class="jomeeli-events-col">
        <div class="jomeeli-events-row">
            <div class="events-links">
                <a href="ryerson-events/">
                    <div class="event-link">
                       <p class="event-link-text">Ryerson Events</p>
                    </div>
                </a>
                <a href="tce/">
                    <div class="event-link">
                        <p class="event-link-text">TCE</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>