{% load static %}
<!-- TEMPLATE: PHOTOGRAPHY -->
<!-- AUTHOR: MIHAI MOROSAN -->
<div class="jomeeli-photography-page">
    <div class="heading">
        <p>
            <span class="white">photography.</span>
        </p>
    </div>
    <div class="jomeeli-photography-col">
        <div class="jomeeli-photography-row">
            <div class="photo-links">
                <a href="events/">
                    <div class="photo-link">
                        <p class="photo-link-text">events</p>
                    </div>
                </a>
                <a href="creative/">
                    <div class="photo-link">
                        <p class="photo-link-text">creative</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>